<main>
    <h1 class='text-center'>Hello world</h1>
    <h2 class='text-end'>Second</h2>
    <h3 class='text-capitalize'>3 title</h3>

    <hr>

    <div class='display-1 text-muted'>Hello world</div>
    <div class='display-1 text-center'>Second</div>
    <div class='display-3 text-end'> title</div>

    <hr>

    <div class="text-end">
        <span class=' display-6 text-muted'>Додатковий  текст</span>
    </div>

    <hr>

    <button class="btn btn-success">
        Test buton
    </button>
</main>