<main class="m-5">
    <div class="card mb-5">
        <div class="card-body">
            <div class="row">
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-1">
                    <div><a href="https://drive.google.com/file/d/1oOrAY7yD9SKWiX2uBwXlIkGIQbvj4Flg/view"> <button class="btn btn-primary btn-block col-2" >Текст, кнопки та блоки</button></a></div>
                    <div><a href="https://drive.google.com/file/d/1RbMjxnry8nXooIh7I3JnEfUixv_bOZaD/view"> <button class="btn btn-primary btn-block col-2" >Карточки, таблиці та колонки</button></a></div>
                    <div><a href="https://drive.google.com/file/d/1LgLsMyUH79pkAFqd4cDr8TUPVsyL7UBL/view"> <button class="btn btn-primary btn-block col-2" >Навігація, значки та повідомлення</button></a></div>
                    <div><a href="https://drive.google.com/file/d/1AZTo1O3cdVK2cNNVPQzcEpyWiDeFRFpG/view"> <button class="btn btn-primary btn-block col-2" >Компоненти форми</button></a></div>
                    <div><a href="https://drive.google.com/file/d/1x8mxuIP-asCWH8KUxvZAJjoHTDHLWRHU/view"> <button class="btn btn-primary btn-block col-2" >Іконки</button></a></div>
                    <div><a href="https://drive.google.com/file/d/1q5HPxEPNur69NQ5jtfiSgFcnT_iqpWOt/view"> <button class="btn btn-primary btn-block col-2" >Селектори. 1 частина</button></a></div>
                    <div><a href="https://getbootstrap.com/"> <button class="btn btn-primary btn-block col-2" >Создавайте быстрые, адаптивные сайты с помощью Bootstrap</button></a></div>
                    <div><a href="/shophome"> <button class="btn btn-primary btn-block col-2" >Shophome</button></a></div>
                    <div><a href="/shoporder"> <button class="btn btn-primary btn-block col-2" >Shoporder</button></a></div>
                    <div><a href="/shopreview"> <button class="btn btn-primary btn-block col-2" >Shopreview</button></a></div>
                    <div><a href="/skills"> <button class="btn btn-primary btn-block col-2" >Skills</button></a></div>
                    <div><a href="/summary"> <button class="btn btn-primary btn-block col-2" >Summary</button></a></div>
                    <div><a href="/task21"> <button class="btn btn-primary btn-block col-2" >Task21</button></a></div>
                    <div><a href="/task22"> <button class="btn btn-primary btn-block col-2" >Task22</button></a></div>
                    <div><a href="/task31"> <button class="btn btn-primary btn-block col-2" >Task31</button></a></div>
                    <div><a href="/web"> <button class="btn btn-primary btn-block col-2" >Web</button></a></div>
                    <div><a href="/work"> <button class="btn btn-primary btn-block col-2" >Work</button></a></div>
                </div>
            </div>
        </div>
    </div>
</main>