<main class='p-5'>
  <div class='card p-5'>
    <p id='text'>
      Hello world!
    </p>
    <p id='text'>
      Hello world!
    </p>
    <p hidden id='text'>
      Hello world!
    </p>
    <span hidden class='test'>Text</span>
  </div>

  <pre>
    dfsd
  </pre>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='margin: 50px 0 50px 100px; backgraund: black;'
  >

    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'>Inline-block</span>

  </div>

  <div>Block</div>

</main>