.card > p {
  color: green;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(255, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 0, 191);

  direction: rtl;
}

#text {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: center;
}

span {
  text-align: left;
  text-transform: uppercase;
}

pre {
  tab-size: 5;
}
