.card > p {
  color: green;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 2px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(255, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 0, 191);

  direction: rtl;
}

#text {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: center;
  font-style: italic;
}

span {
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
}

pre {
  tab-size: 5;
  font-style: oblique;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

span {
  font-size: larger;

  font-weight: lighter;

  font-style: italic;
}

.test {
  display: none;
}

.block {
  display: block;
  color: white;
  background: black;
  margin: auto;

  width: 155px;
}
